<%- include('../partials/head.ejs') %>
    <h1>Password reset page</h1>
    <!-- This page is page where the user type their email to give URL in their email -->
    <!-- Call `api/password-reset` [POST] -->
    <%- include('../partials/foot.ejs') %>