<%- include('../partials/head.ejs') %>
    <form class="flex flex-col gap-5 max-w-xs mx-auto my-10 bg-white p-4 rounded" autocomplete="off">

        <h1 class="text-4xl text-primary-600 text-center">Sign up</h1>

        <div class="flex flex-col gap-1">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="flex flex-col gap-1">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div id="error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span></span>
        </div>

        <p class="text-sm text-slate-600">Already have an account? <a class="text-slate-700 underline"
                href="/login">login</a></p>

        <button class="btn ml-auto">sign up<i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </form>

    <script>
        const formEl = document.querySelector('form')
        const errorEl = document.querySelector('#error')

        formEl.addEventListener('submit', async (event) => {
            event.preventDefault()

            try {
                const username = formEl.querySelector('#username').value
                const password = formEl.querySelector('#password').value

                const reponse = await fetch('/signup', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, password })
                })

                const data = await reponse.json()

                errorEl.querySelector('span').innerText = data.message
                errorEl.classList.remove('error')
                errorEl.classList.remove('success')
                errorEl.classList.add(data.type)

                if (data.type === 'success') {
                    window.location.replace('/')
                }

            } catch (error) {
                console.error(error)
            }
        })
    </script>
    <%- include('../partials/foot.ejs') %>