<%- include('../partials/head.ejs') %>
    <div class="flex flex-col gap-2">
        <h1>Profile Setting</h1>
        <p>From this page user will be able to choose to edit details</p>
        <p>To be contacted via email or not</p>
        <p>Other app settings</p>
    </div>
    <%- include('../partials/foot.ejs') %>