</div>
</main>
<footer>
    <div class="container m-auto p-2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel officia labore. Ab iste repellat dicta sint tempore fugiat, recusandae magni beatae adipisci corporis consectetur hic? Nobis ex ratione cum labore quam eligendi corporis similique mollitia obcaecati nihil eius quas recusandae, rem repudiandae provident est tenetur quaerat totam neque? Sit.
        </p>
    </div>
    <p class="bg-black text-center p-2 text-white text-xs">
        Copyright &copy; 2023 <%= process.env.APP_NAME %>. All rights reserved.
    </p>
</footer>
</body>

</html>