<%- include('./partials/head.ejs') %>
    <div class="max-w-md mx-auto my-10 flex flex-col gap-4">
        <h1 class="text-center text-4xl font-bold">404</h1>
        <p class="text-gray-500 text-center text-sm">Page could not be found</p>
        <div class="flex gap-2 w-fit m-auto items-center">
            <a class="btn" href="/">Home</a>
            <p class="text-gray-400">-</p>
            <a class="btn-black" href="/login">Login</a>
        </div>
        <img class="max-w-full" src="/img/404.png" alt="person managing digital task">
    </div>
    <%- include('./partials/foot.ejs') %>